body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #1c1c2c; /* oscuro con tono espacial */
    font-family: 'Press Start 2P', monospace;
    color: #fff;
}

/* Contenedor del juego centrado */
#phaser-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: auto; /* 👈 O incluso un tamaño fijo como 640px si lo deseas */
    max-width: 100%;
    height: auto;
    background-color: #1c1c2c;
    background-size: cover;
    background-repeat: no-repeat;
}



    /* Canvas del juego Phaser dentro de phaser-container */
#phaser-container canvas {
    display: block;
    max-width: 640px;
    max-height: 480px;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: 0 0 25px #0ff;
    cursor: url('/Content/img/hand.png') 16 0, pointer;
}

/* Navbar adaptada */
nav.navbar {
    background-color: #282848 !important;
    color: #0ff;
    border-bottom: 2px solid #0ff;
    font-size: 12px;
    text-shadow: 0 0 3px #0ff;
}

/* Texto de bienvenida */
.navbar li {
    padding: 0.5rem 1rem;
    color: #0ff;
    list-style: none;
}

/* Títulos retro */
h1, h2, h3 {
    color: #ffcc00;
    text-shadow: 2px 2px 0 #000;
}


.elementsFlex {
    display: flex;
    flex-direction: row;
    justify-content: center; /* centra el conjunto de elementos horizontalmente */
    align-items: flex-start; /* alinea arriba */
    width: 100%;
    height: 100vh;
    background-color: #1c1c2c;
    background-size: cover;
    background-repeat: no-repeat;
}

#camera-container {
    display: flex;
    flex: none; /* Para que no se expanda */
    justify-content: flex-end; /* alineado a la derecha */
    align-items: flex-start; /* alineado arriba */
    padding: 25px;
    width: auto;
    height: auto;
    

    background-color: #1c1c2c;
    background-size: cover;
    background-repeat: no-repeat;
}


.camera-content {
    position: relative;
    width: 320px;
    height: 240px;
     /* Acerca al juego Phaser */
}

#input_camera,
#output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 240px;
    justify-content: center;
    box-shadow: 0 0 25px #0ff; /* Brillo neón aplicado solo aquí */
}

#output_canvas {
    pointer-events: none; /* Permite que los clics pasen al video si hicieras algo interactivo */
    z-index: 10; /* Se asegura de estar por encima del video */

    
}
